<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Chooser</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Barium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Barium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Chlorine</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chlorine</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Helium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Helium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Lithium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Lithium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Oxygen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Oxygen</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Phosphorus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Phosphorus</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Silicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Silicon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Zinc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Zinc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Neon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Barium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Barium-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Chlorine</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chlorine-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Helium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Helium-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Lithium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Lithium-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Oxygen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Oxygen-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Phosphorus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Phosphorus-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Silicon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Silicon-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
			<key>Zinc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Zinc-iPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string></string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Neon-iPad</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Tondo-Bold.ttf</string>
		<string>Tondo-Regular.ttf</string>
		<string>Tondo-Light.ttf</string>
		<string>Dense-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
